body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

nav a {
    color: #383737;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    color: #ffffff;
    background-color: #575757;
}

.container {
    width: 100%;
    height: calc(100vh - 160px);
    margin: 0 auto;
    padding: 1rem;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
}

thead,
tbody {
    display: block;
}

tbody {
    height: 500px;
    overflow-y: auto;
}

th,
td {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #ddd;
    min-width: 350px;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table::-webkit-scrollbar {
    width: 12px;
}

table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

table::-webkit-scrollbar-thumb {
    background: #888;
}

table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-modify {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-modify:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #db0505;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-delete:hover {
    background-color: #940505;
}

#popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#popup.show {
    display: block;
}